
<style>
div{
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  color: white;
}
</style>
<div class="container">
   
    <div class="row" style="background-color: black;">
        
        <div class="col-md-8 ">
                <div class="col-md-3">
                        Logo
                    </div>  
        </div>
        
        <div class="col-md-3">
            <div class="col-md-3" style="float: right;">
                Signup
            </div>
            <div class="col-md-3" style="float: right;">
                Login
            </div>
        </div>     
    </div>
    <div class="row">
        <nav class="navbar navbar-default navbar-static-top" role="navigation">
                <ul class="nav navbar-nav">
                    <li class="active">
                        <a routerLink="/home">Home</a>
                    </li>
            
                    <li>
                        <a routerLink="/about">About Us</a>
                    </li>
            
                    <li>
                        <a routerLink="/contact">Contact Us</a>
                    </li>
                    <li  *ngIf="!service.IsLoggedIn()">
                        <a routerLink="/login">Login</a>
                    </li>
                    <li  *ngIf="service.IsLoggedIn()">
                        <button type="button" class="btn btn-primary" (click)="signout()">Logout</button>
                        
                    </li>
                    </ul>
            </nav>
            
            <router-outlet></router-outlet>
</div>
  </div>

<router-outlet></router-outlet>